#root {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
}

.input {
    width: 500px;
    padding: 12px 16px;
    font-size: 1rem;

    border: 2px solid #333;
    border-radius: 12px;
    outline: none;

    transition: all 0.2s ease;
}

.input:hover {
    border-color: #555;
}

.input:focus {
    border-color: #1d4ed8;
    box-shadow: 0 0 6px rgba(29, 78, 216, 0.4);
}
